/* Importar fuente*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Reiniciar el CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/pictures/bio.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.up{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 5px;
}

.up button{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.up img{
    width: 65px;
}

.logo img{

    width: 110px;
    position: relative;
    top: 10px;

}

.menu .navbar {
    display: flex;
    align-items: center;
}

.menu .navbar ul li{

    position: relative;
    float: left;

}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px; /* Crea un espacio al rededor del elemento o a la direccion asignada*/
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {

    color: #26c000;
    
}

.menu-icon {
    width: 25px;
}

#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{

    display: inline-block;
    padding: 11px 35px;
    background-color: #26c000;
    color: #F9FAFC;
    text-transform: uppercase;

}

.btn-1:hover{

    background-color: #2bd301;

}

.biography {
    padding: 100px 0;
    background-color: #E1E2E6;
}

.biography-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.biography-content img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    margin-right: 50px;
}

.biography-content .bio-text {
    max-width: 600px;
}

.biography-content h2 {
    font-size: 56px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.biography-content p {
    font-size: 16px;
    color: #414247;
    margin-bottom: 35px;
}

p{
    font-size: 16px;
    color: #414247;
    margin-bottom: 35px;    
}

.footer{

    padding: 100px 0;
    background-color: #000;

}

.footer-content{

    display: flex;
    justify-content: space-between;

}

.link h3{

    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;

}

.link a{

    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;

}

.link img{
    width: 25px;
    cursor: pointer;
}

.social-container {
    display: flex;
    flex-direction: row; /* Alinea los íconos de redes sociales horizontalmente */
    justify-content: center; /* Centra los íconos horizontalmente */
    align-items: center; /* Centra verticalmente los íconos */
    gap: 20px; /* Espacio entre los íconos */
}

#log-foo{
    width: 200px;
}

/* Responsive */
@media(max-width:991px){

    .menu{

        padding: 30px;

    }

    .menu label{

        display: initial; /* Valor en el que se iniciara, las propiedades*/
        z-index: 1;

    }

    .menu .navbar{

        position: absolute;
        top: 65%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
        z-index: 1;
        width: 90%;
        margin-left: 25px;
    }

    .menu .nabvar ul li{

        width: 100%;

    }

    #menu:checked ~ .navbar{ /* Para poner el simbolo "~" es con alt + 126*/

        display: initial;
        
    } 
    
    .header{

        min-height: 0vh; /* Se usa para definir la altura mínima de un elemento */

    }

    .header h1{

        margin: 45px 0;

    } 

    .header-content{

        padding: 100px 30px;
        z-index: 0;

    }

    .header-content p{
 
        padding: 0;

    }

    .coffee{

        padding: 30px;

    }

    .coffee-content h2{

        padding: 0;

    }

    .txt-p{

        padding: 0;

    }

    .coffee-group{

        flex-direction: column; /* Determina la dirección en que se ordenarán los elementos en el espacio */
        margin-bottom: 0;

    }

    .coffee-img{

        display: none; /* No se mostrara el elemento a menos de que se realize una accion determinada */

    }

    .services{

        padding: 30px;

    }

    .services-content p{

        padding: 0;

    }

    .services-group{

        flex-direction: column;
        margin-bottom: 0;

    }

    .services-1{

        margin-bottom: 25px;

    }

    .general{

        flex-direction: column;

    }

    .general-1{

        width: 100%;
        padding: 30px;
        text-align: center;
        order: -1;

    }

    .general-2, .general-3, .general-4, .general-5, .general-6, .general-7, .general-8, .general-9, .general-10, .general-11, .general-12, .general-13, .general-14, .general-15, .general-16, .general-17, .general-18, .general-19, .general-20{

        width: 100%;
        padding: 30px;
        text-align: center;
        height: 500px;

    }

    .blog{

        padding: 30px;

    }

    .blog-content{

        flex-direction: column;

    }

    .blog-1{

        padding: 0;

    }

    .footer{

        padding: 30px;

    }

    .footer-content{

        flex-direction: column;
        text-align: center;

    }

    .biography-content {
        flex-direction: column;
        text-align: center;
    }

    .biography-content img {
        margin: 0 auto 20px auto;
    }

    .biography-content .bio-text {
        padding: 0 20px;
    }
}

@media(max-width:363px) {

    html, body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .container {
        margin: 0 auto;
        padding: 0;
    }

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial; /* Valor en el que se iniciara, las propiedades*/
        z-index: 1;
    }

    .menu .navbar {
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
        z-index: 1;
        width: 100%;
        margin: 0 auto;
    }

    .menu .nabvar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar { /* Para poner el simbolo "~" es con alt + 126*/
        display: initial;
    } 

    .header {
        min-height: 0vh; /* Se usa para definir la altura mínima de un elemento */
    }    

    .header h1 {
        margin: 45px 0;
    } 

    .header-content {
        padding: 100px 10px;
        z-index: 0;
    }

    .header-content p {
        padding: 0;
    }

    .coffee {
        padding: 30px;
    }

    .coffee-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .coffee-group {
        flex-direction: column; /* Determina la dirección en que se ordenarán los elementos en el espacio */
        margin-bottom: 0;
    }

    .coffee-img {
        display: none; /* No se mostrara el elemento a menos de que se realice una acción determinada */
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
        order: -1;
    }

    .general-2, .general-3, .general-4, .general-5, .general-6 {
        width: 100%;
        padding: 30px;
        text-align: center;
        height: 500px;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
