<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_Bio.css">
    <link rel="icon" href="images/icons/logo.png" type="image/x-icon">
    <title>Biografia</title>
</head>
<body>

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo"><img src="images/icons/logo.png" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="images/menu.png" class="menu-icon" alt="">
            </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="#">Biografía</a></li>
                        <li><a href="./public.html">Publicaciones</a></li>
                        <li><a href="./works.html">Trabajos</a></li>
                        <li><a href="./events.html">Eventos y Reconocimientos</a></li>
                    </ul>
                </nav>
        </div>

        <div class="header-content container">
            <h1>biografía </h1>
            <p>Descubre más sobre la inspiradora trayectoria de esta persona extraordinaria, su camino lleno de logros, desafíos superados y lecciones que nos inspiran a alcanzar nuestros propios sueños.</p>
        </div>
    </header>

    <div class="up">
        <button onclick="scrollToTop();"><img src="images/icons/arrow.png" alt=""></button>
    </div>

    <section class="biography">
        <div class="biography-content container">
            <div class="biography-text">
                <h2><span>Ildefonso Mestra</span></h2>
                <p class="txt-p">
                    Llevo 10 años trabajando en la Institución Educativa San Isidro, ubicada en el kilómetro 34, zona rural de la vía Tierralta, en Montería, Córdoba. Desde hace 7 años, me asignaron el área de arte, que hasta ese momento no se había desarrollado debido a las dificultades económicas de los estudiantes. Decidí aprovechar los recursos disponibles en nuestro entorno rural, observando las actividades campesinas para reutilizar los residuos generados en el campo como materiales artísticos. De esta manera, descubrimos colores naturales como el negro del carbón, el rojo del achiote, el gris de la ceniza, el marrón del café y el verde de las hojas de las plantas, los cuales los estudiantes empezaron a mezclar para crear nuevos tonos.
                </p>
                <p class="txt-p">
                    Este proceso no solo promovió la creatividad, sino que también desarrolló en los estudiantes habilidades para diseñar sus propias herramientas artísticas. Utilizando residuos de madera, fabricaron pinceles adaptados a sus necesidades y trabajaron con telas recicladas y plumas de aves sacrificadas para la alimentación. Los estudiantes también utilizaron pelos de animales de carga que encontraban en las cercas, transformándolos en pinceles de alta calidad. A través de este proceso, los estudiantes aprendieron a valorar y reutilizar lo que antes consideraban desechos, fomentando una conexión profunda con su entorno natural y cultural.
                </p>

                <p class="txt-p">
                    Este enfoque de enseñanza del arte ha sido fundamental para transformar las limitaciones económicas en una oportunidad de aprendizaje y desarrollo. Los estudiantes no solo han adquirido habilidades artísticas, sino que también han desarrollado conciencia ambiental y el valor del trabajo en equipo. Este proyecto ha logrado que los estudiantes se sientan empoderados, demostrando que, más allá de los recursos materiales, la creatividad y el pensamiento innovador son las herramientas más poderosas para transformar su realidad.
                </p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content container">

            <div class="link">
                <img id="log-foo" src="images/icons/logo.png" alt="">
            </div>

            <div class="link">
                <p>ENLACES</p>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Biografía</a></li>
                    <li><a href="./public.html">Publicaciones</a></li>
                    <li><a href="./works.html">Trabajos</a></li>
                    <li><a href="./events.html">Eventos y Reconocimientos</a></li>
                </ul>
            </div>

            <div class="link">
                <p>REDES SOCIALES</p>
                <div class="social-container">
                    <a href="https://www.youtube.com/channel/UCKOpTtQEOgd8AgmoX-8m4_w" target="_blank">
                        <img src="./images/icons/youtube.png" alt="YouTube">
                    </a>
                    <a href="https://pigmentosvegetales.blogspot.com/2018/05/el-arte-y-el-contexto-escolar-una.html" target="_blank">
                        <img src="./images/icons/blogger.png" alt="Blogger">
                    </a>
                    <a href="https://x.com/IldefonsoMestra" target="_blank">
                        <img src="./images/icons/x.png" alt="X">
                    </a>
                    <a href="https://web.facebook.com/profile.php?id=100005625735899&_rdc=1&_rdr" target="_blank">
                        <img src="./images/icons/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/pintor_p/" target="_blank">
                        <img src="./images/icons/ig.png" alt="Instagram">
                    </a>
                </div>
            </div>            

            <div class="link">
                <p>CONTACTO</p>
                <p>Ildefonsomestra@gmail.com <br> Pintor-3@hotmail.com</p>
            </div>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../Controller/button.js"></script>   

</body>
</html>
