<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_Events.css">
    <link rel="icon" href="images/icons/logo.png" type="image/x-icon">
    <title>Eventos y Reconocimientos</title>
</head>
<body>

    <header class="header">
        
        <div class="menu container">
            <a href="#" class="logo"><img src="images/icons/logo.png" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu">
              <img src="images/menu.png" class="menu-icon" alt="">
            </label>
            <nav class="navbar">
              <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./bio.html">Biografía</a></li>
                <li><a href="public.html">Publicaciones</a></li>
                <li><a href="./works.html">Trabajos</a></li>
                <li><a href="#">Eventos y Reconocimientos</a></li>
              </ul>
            </nav>
        </div>
      
        <div class="header-content container">
          <h1>Eventos y reconocimientos </h1>
          <p>En este espacio comparto los momentos más destacados de mi trayectoria, celebrando cada logro y reconocimiento que he tenido la oportunidad de recibir. Cada evento representa un paso significativo en mi camino.</p>
        </div>

    </header> 
    
    <div class="up">
        <button onclick="scrollToTop();"><img src="images/icons/arrow.png" alt=""></button>
    </div>

    <section class="general">
        <div class="general-1">
            <h2>PARTICIPACIÓN AL PRIMER CONGRESO INTERNACIONAL DE INVESTIGACIÓN EN LA ESCUELA
            </h2>
            <p>
                Se hizo un reconocimiento al proyecto, como uno de los mejores por su aporte al arte desde la recursividad usando materiales del contexto. 
            </div>
        <div class="general-2"></div>
    </section>

    <section class="general">
        <div class="general-3">
        </div>
            <div class="general-1">
                <h2>RECON COLOMBIA 
                </h2>
                <p>
                    Participamos con el proyecto: Residuos de casabe y obtuvimos el primer puesto en categoría Arte; Es muy importante destacar que había 1.500 iniciativas de las cuales solo 850 reunían los requisitos para participar; de estas un jurado eligió 6o, luego fueron sometidas a votación y solo quedamos 18 en seis categorías, obteniendo el primer puesto en Arte. 
                </p>                
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>PERIÓDICO EL TIEMPO: UNO DE LOS MÁS INFLUYENTES DEL PAÍS
            </h2>
            <p>
                Hace un reconocimiento de manera público al proyecto por su gran aporte a la paz y a la reconciliación desde la justicia social. 
            </p>
        </div>
        <div class="general-4"></div>
    </section>

    <section class="general">
        <div class="general-5">
        </div>
            <div class="general-1">
                <h2>FERIA DEL EMPRENDIMIENTO 2017 
                </h2>
                <p>
                    El proyecto de investigación Casabe al arte obtuvo el primer puesto por su recursividad utilizando materiales del contexto para hacer arte y propiciar la cultura del emprendimiento. 
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>PARTICIPACIÓN EN EL ENCUENTRO REGIONAL ONDAS "YO AMO LA CIENCIA" 2017, SEDE NEIVA</h2>
            <p>
                A través de Cun y el proyecto Ondas, obtuvimos un aval para participar en la feria "Yo amo a la ciencia, Nieva.2017" donde el proyecto fue destacado con una mención de honor por su aporte al arte con una nueva técnica que beneficia a niños y jóvenes campesinos, valora la cultura del casabe y forma personas amigas del medio ambiente y conocedoras del contexto.
            </p>
        </div>
        <div class="general-6"></div>
    </section>

    <section class="general">
        <div class="general-7">
        </div>
            <div class="general-1">
                <h2>IV FERIA DEPARTAMENTAL: GÉNESIS DE LA CIENCIA, 2017 
                </h2>
                <p>
                    Con la participación en la cuarta feria departamental génesis 2017, obtuvimos el aval para participar en la feria "yo amo a la ciencia, Neiva. 2017" con el apoyo de Cun - Ondas.
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>PARATICIPACIÓN EN EL XII ENCUENTRO DE SEMILLEROS DE INVESTIGACIÓN NODO CÓRDOBA, 2017
            </h2>
            <p>
                Participación a este evento dio un aval meritorio al XX encuentro nacional y XIV internacional de semilleros de investigación en la universidad del Atlántico. <br><br> Obtuvimos el primer puesto en emprendimiento.
            </p>   
        </div>
        <div class="general-8"></div>
    </section>

    <section class="general">
        <div class="general-9">
        </div>
            <div class="general-1">
                <h2>PARTICIPACIÓN EN EL MUSAC 
                </h2>
                <p>
                    La participación de los estudiantes de la Institución Educativa San Isidro, tuvo mucha acogida por el trabajo artístico de los estudiantes que representaron en sus trabajos el contexto de la región.
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>FORO DE EXPERIENCIAS SIGNIFICATIVAS, 2016
            </h2>
            <p>
                Participación en el foro de experiencias significativas en el año 2016, obteniendo el primer puesto con el proyecto "valorando los oficios ancestrales de la región de San Isidro".
            </p>  
        </div>
        <div class="general-10"></div>
    </section>

    <section class="general">
        <div class="general-11">
        </div>
            <div class="general-1">
                <h2>FORO DE EXPERIENCIAS SIGNIFICATIVAS 2015
                </h2>
                <p>
                    Participación en el foro de experiencias significativas en el año 2015, obteniendo el primer puesto con el proyecto "el arte y el contexto escolar una oportunidad para potencializar la vida".
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>PARTICIPACIÓN EN EL BANCO DE LA REPÚBLICA
            </h2>
            <p>
                Con el artísta Ricardo Muñoz Izquierdo; obra sobresaliente esterillas de San Isidro. 
            </p>  
        </div>
        <div class="general-12"></div>
    </section>

    <section class="general">
        <div class="general-13">
        </div>
            <div class="general-1">
                <h2>PARTICIPACIÓN EN LA FERIA DE ARTE Y CULTURA
                </h2>
                <p>
                    Primer puesto por dar a conocer los tejidos de la zona rural de Montería.                 
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>EXPOSICIÓN DE ARTE EN EL PARQUE DE SAN ISIDRO
            </h2>
            <p>
                El alcalde de Montería, el doctor Marcos Daniel Pineda Garcia; hace reconocimiento al proyecto por su aporte a la educación trabajndo con materiales del contexto. 
            </p>  
        </div>
        <div class="general-14"></div>
    </section>

    <section class="general">
        <div class="general-15">
        </div>
            <div class="general-1">
                <h2>RECONOCIMIENTO DE LA INSTITUCIÓN EDUCATIVA SAN ISIDRO AL PROFESOR ILDEFONSO MESTRA POR SU APORTE A LA EDUCACIÓN
                </h2>
                <p>
                                   
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>RECONOCIMIENTO POR SU SENTIDO DE PERTENENCIA A LA INSTITUCIÓN
            </h2>
            <p>
                
            </p>  
        </div>
        <div class="general-16"></div>
    </section>

    <section class="general">
        <div class="general-17">
        </div>
            <div class="general-1">
                <h2>FERIA DEL EMPRENDIMIENTO 2014
                </h2>
                <p>
                    Primer puesto por aportarle a la cultura del emprendimiento.               
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>FERIA DE EXPOCIENCIA: PRIMER PUESTO
            </h2>
            <p>
                La doctora de Catalina Mariño, secretaria de educación del municipio de Montería, entrega un diploma de reconocimiento al proyecto de investigación por su aporte a las escuelas rurales. 
            </p>  
        </div>
        <div class="general-18"></div>
    </section>

    <section class="general">
        <div class="general-19">
        </div>
            <div class="general-1">
                <h2>PERIODICO EL PROPIO HACE RECONOCIMIENTO AL PROYECTO DE INVESTIGACIÓN DE LA INSTITUCIÓN EDUCATIVA SAN ISIDRO POR PARTICIPAR EN LA XVIII FERIA INTERNACIONAL DE INVESTIGACIÓN EN CALI, ORGANIZADA POR REDCOLSI
                </h2>
                <p>
                                  
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>PARTICIPACIÓN EN EL XVIII ENCUENTRO NACIONAL Y XII ENCUENTRO INTERNACIONAL DE SEMILLEROS DE INVESTIGACIÓN 
            </h2>
            <p>
                
            </p>  
        </div>
        <div class="general-20"></div>
    </section>

    <section class="general">
        <div class="general-21">
        </div>
            <div class="general-1">
                <h2>PARTICIPACIÓN EN LA PRIMERA FERIA DE LA CIENCIA, REALIZADA EN LA INSTITUCIÓN EDUCATIVA. DONDE SE INCULCA A LOS ESTUDIANTES EL AMOR POR LA INVESTIGACIÓN
                </h2>
                <p>
                                  
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>EXPOSICIÓN EN EL BANCO DE LA REPÚBLICA DE COLOMBIA
            </h2>
            <p>
                El banco de la república hace un reconocimiento al proyecto por su aporte a la educación rural, donde los estudiantes trabajan con materiales del contexto. 
            </p>  
        </div>
        <div class="general-22"></div>
    </section>

    <footer class="footer">
        <div class="footer-content container">

            <div class="link">
                <img id="log-foo" src="images/icons/logo.png" alt="">
            </div>

            <div class="link">
                <p>ENLACES</p>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./bio.html">Biografía</a></li>
                    <li><a href="public.html">Publicaciones</a></li>
                    <li><a href="./works.html">Trabajos</a></li>
                    <li><a href="#">Eventos y Reconocimientos</a></li>
                </ul>
            </div>

            <div class="link">
                <p>REDES SOCIALES</p>
                <div class="social-container">
                    <a href="https://www.youtube.com/channel/UCKOpTtQEOgd8AgmoX-8m4_w" target="_blank">
                        <img src="./images/icons/youtube.png" alt="YouTube">
                    </a>
                    <a href="https://pigmentosvegetales.blogspot.com/2018/05/el-arte-y-el-contexto-escolar-una.html" target="_blank">
                        <img src="./images/icons/blogger.png" alt="Blogger">
                    </a>
                    <a href="https://x.com/IldefonsoMestra" target="_blank">
                        <img src="./images/icons/x.png" alt="X">
                    </a>
                    <a href="https://web.facebook.com/profile.php?id=100005625735899&_rdc=1&_rdr" target="_blank">
                        <img src="./images/icons/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/pintor_p/" target="_blank">
                        <img src="./images/icons/ig.png" alt="Instagram">
                    </a>
                </div>
            </div>            

            <div class="link">
                <p>CONTACTO</p>
                <p>Ildefonsomestra@gmail.com <br> Pintor-3@hotmail.com</p>
            </div>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../Controller/button.js"></script>   

</body>
</html>
