<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_Public.css">
    <link rel="icon" href="images/icons/logo.png" type="image/x-icon">
    <title>Mi Web - Ildefonso Adán Mestra Madera</title>
</head>
<body>

    <header class="header">
        
        <div class="menu container">
            <a href="#" class="logo"><img src="images/icons/logo.png" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu">
              <img src="images/menu.png" class="menu-icon" alt="">
            </label>
            <nav class="navbar">
              <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./bio.html">Biografía</a></li>
                <li><a href="#">Publicaciones</a></li>
                <li><a href="./works.html">Trabajos</a></li>
                <li><a href="View/events.html">Eventos y Reconocimientos</a></li>
              </ul>
            </nav>
        </div>
      
        <div class="header-content container">
          <h1>Publicaciones y Creaciones          </h1>
          <p>Cada publicación es una ventana a nuevas perspectivas, y cada creación, una muestra de la imaginación sin límites. Desde arte hasta reflexiones, este es un lugar donde las ideas cobran vida y el pensamiento se convierte en obra.</p>
        </div>

    </header> 
    
    <div class="up">
        <button onclick="scrollToTop();"><img src="View/images/icons/arrow.png" alt=""></button>
    </div>

    <section class="general">
        <div class="general-1">
            <h2>Trabajos Realizados con Carbón Vegetal y Herramientas Caseras
            </h2>
            <p>
                Los estudiantes han creado impresionantes obras utilizando carbón vegetal, que recogen de las cocinas de sus hogares. Para darle forma a sus creaciones, emplean difuminos hechos por ellos mismos, herramientas que han fabricado con sus propias manos. Su inspiración surge de objetos cotidianos y cercanos, como cucharas y totumas, elementos que traen desde sus casas.            </div>
        <div class="general-2"></div>
    </section>

    <section class="general">
        <div class="general-3">
        </div>
            <div class="general-1">
                <h2>MEZCLA DE BARRO CON TOTUMO PARA HACER ESCULTURAS</h2>
                <p>
                    Después de que los estudiantes vivieron la experiencia de haber trabajado con totumas, cucharas, semillas y barro se dieron  cuenta que los podían mezclar para hacer esculturas. Este trabajo de los estudiantes fue realizado con total libertad dando rienda suelta a su imaginación y realizando trabajos de muy buena calidad que se evidencian a continuación. 
                </p>                
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>LAS PIEDRAS QUE EL RÍO ME REGALÓ
            </h2>
            <p>
                Los estudiantes traen para la clase de arte como material para esta; piedras que consiguen en el río cuando se abastecen de agua para luego hacer obras de arte acomodándolas unas con otras, seleccionando los colores y las figuras. Esto es muy importante porque potencializa la creatividad y ademas valoran las fuentes de agua, vitales para la vida. 
            </p>
        </div>
        <div class="general-4"></div>
    </section>

    <section class="general">
        <div class="general-5">
        </div>
            <div class="general-1">
                <h2>HERRAMIENTAS DE COCINA  
                </h2>
                <p>
                    Estas herramientas de cocina son valoradas por los estudiantes, las cuales se convierten en musa de inspiración. Hemos hecho una reflexión sobre ellas y se ha concluido que son pinceles en el arte de cocinar; porque mezclan sabores como: la yuca, el plátanos, ñame y otros; con colores como el achiote; para dar olores.  
                </p>           
            </div>
    </section>


    <footer class="footer">
        <div class="footer-content container">

            <div class="link">
                <a href="https://pigmentosvegetales.blogspot.com/2018/05/el-arte-y-el-contexto-escolar-una.html" target="_blank">
                    <img src="images/icons/blogger.png" alt="" >
                </a>
            </div>

            <div class="link">
                <a href="https://www.youtube.com/channel/UCKOpTtQEOgd8AgmoX-8m4_w" target="_blank">
                    <img src="images/icons/youtube.png" alt="">
                </a>
            </div>

            <div class="link">
                <a href="https://x.com/IldefonsoMestra" target="_blank">
                    <img src="images/icons/x.png" alt="">
                </a>
            </div>

            <div class="link">
                <a href="https://web.facebook.com/profile.php?id=100005625735899&_rdc=1&_rdr" target="_blank">
                    <img src="images/icons/facebook.png" alt="">
                </a>
            </div>

            <div class="link">
                <a href="https://www.instagram.com/pintor_p/" target="_blank">
                    <img src="images/icons/ig.png" alt="">
                </a>
            </div>
            
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../Controller/button.js"></script>   

</body>
</html>
