<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_Public.css">
    <link rel="icon" href="images/icons/logo.png" type="image/x-icon">
    <title>Mi Web - Ildefonso Adán Mestra Madera</title>
</head>
<body>

    <header class="header">
        
        <div class="menu container">
            <a href="#" class="logo"><img src="images/icons/logo.png" alt=""></a>
          <input type="checkbox" id="menu">
          <label for="menu">
            <img src="View/images/menu.png" class="menu-icon" alt="">
          </label>
          <nav class="navbar">
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="./bio.html">Biografía</a></li>
              <li><a href="#">Publicaciones</a></li>
              <li><a href="./works.html">Trabajos</a></li>
              <li><a href="#">Eventos y Reconocimientos</a></li>
            </ul>
          </nav>
        </div>
      
        <div class="header-content container">
          <h1>PLANTILLA PARA MANUEL</h1>
          <p>texto aqui</p>
        </div>

    </header> 
    
    <div class="up">
        <button onclick="location.href='./public.html'"><img src="images/icons/arrow.png" alt=""></button>
    </div>

    <section class="general">
        <div class="general-1">
            <h2>Este proyecto</h2>
            <p>
            busca la inclusión, ya que durante 17 años los estudiantes de la Institución Educativa San Isidro de la zona rural del municipio de Montería
            </p>
        </div>
        <div class="general-2"></div>
    </section>

    <section class="general">
        <div class="general-3">
        </div>
            <div class="general-1">
                <p>
                eran excluidos del arte por las precariedades económicas de su núcleo familiar.
                </p>                
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Es una apuesta</h2>
            <p>
            a las paz desde la equidad social, sanando las heridas que ha dejado el conflicto en Colombia
            </p>
        </div>
        <div class="general-4"></div>
    </section>

    <section class="general">
        <div class="general-5">
        </div>
            <div class="general-1">
                <p>
                formando personas creativas e innovadoras, amigas y defensoras del medio ambiente que valoran su cultura.
                </p>           
            </div>
    </section>

    <section class="blog container" style="display: none;">
        <h2>Blog</h2>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsum delectus earum fugiat at 
        vel voluptatibus explicabo    
        </p>
        <div class="blog-content">
            <div class="blog-1">
                <img src="View/images/blog1.jpg" alt="">
                <h3>Blog One</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </p>
            </div>

            <div class="blog-1">
                <img src="View/images/blog2.jpg" alt="">
                <h3>Blog Two</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </p>
            </div>

            <div class="blog-1">
                <img src="View/images/blog3.jpg" alt="">
                <h3>Blog Three</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </p>
            </div>

        </div>
        <a href="#" class="btn-1">Information</a>
    </section>

    <footer class="footer">
        <div class="footer-content container">

            <div class="link">
                <a href="https://pigmentosvegetales.blogspot.com/2018/05/el-arte-y-el-contexto-escolar-una.html" target="_blank">
                    <img src="images/icons/blogger.png" alt="" >
                </a>
            </div>

            <div class="link">
                <a href="https://www.youtube.com/channel/UCKOpTtQEOgd8AgmoX-8m4_w" target="_blank">
                    <img src="images/icons/youtube.png" alt="">
                </a>
            </div>

            <div class="link">
                <a href="https://x.com/IldefonsoMestra" target="_blank">
                    <img src="images/icons/x.png" alt="">
                </a>
            </div>

            <div class="link">
                <a href="https://web.facebook.com/profile.php?id=100005625735899&_rdc=1&_rdr" target="_blank">
                    <img src="images/icons/facebook.png" alt="">
                </a>
            </div>

            <div class="link">
                <a href="https://www.instagram.com/pintor_p/" target="_blank">
                    <img src="images/icons/ig.png" alt="">
                </a>
            </div>
            
        </div>
    </footer>

</body>
</html>