<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_Public.css">
    <link rel="icon" href="images/icons/logo.png" type="image/x-icon">
    <title>Publicaciones</title>
</head>
<body>

    <header class="header">
        
        <div class="menu container">
            <a href="#" class="logo"><img src="images/icons/logo.png" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu">
              <img src="images/menu.png" class="menu-icon" alt="">
            </label>
            <nav class="navbar">
              <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./bio.html">Biografía</a></li>
                <li><a href="#">Publicaciones</a></li>
                <li><a href="./works.html">Trabajos</a></li>
                <li><a href="./events.html">Eventos y Reconocimientos</a></li>
              </ul>
            </nav>
        </div>
      
        <div class="header-content container">
          <h1>Publicaciones y Creaciones          </h1>
          <p>Cada publicación es una ventana a nuevas perspectivas, y cada creación, una muestra de la imaginación sin límites. Desde arte hasta reflexiones, este es un lugar donde las ideas cobran vida y el pensamiento se convierte en obra.</p>
        </div>

    </header> 
    
    <div class="up">
        <button onclick="scrollToTop();"><img src="images/icons/arrow.png" alt=""></button>
    </div>

    <section class="general">
        <div class="general-1">
            <h2>Trabajos Realizados con Carbón Vegetal y Herramientas Caseras
            </h2>
            <p>
                Los estudiantes han creado impresionantes obras utilizando carbón vegetal, que recogen de las cocinas de sus hogares. Para darle forma a sus creaciones, emplean difuminos hechos por ellos mismos, herramientas que han fabricado con sus propias manos. Su inspiración surge de objetos cotidianos y cercanos, como cucharas y totumas, elementos que traen desde sus casas.            </div>
        <div class="general-2"></div>
    </section>

    <section class="general">
        <div class="general-3">
        </div>
            <div class="general-1">
                <h2>MEZCLA DE BARRO CON TOTUMO PARA HACER ESCULTURAS</h2>
                <p>
                    Después de que los estudiantes vivieron la experiencia de haber trabajado con totumas, cucharas, semillas y barro se dieron  cuenta que los podían mezclar para hacer esculturas. Este trabajo de los estudiantes fue realizado con total libertad dando rienda suelta a su imaginación y realizando trabajos de muy buena calidad que se evidencian a continuación. 
                </p>                
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>LAS PIEDRAS QUE EL RÍO ME REGALÓ
            </h2>
            <p>
                Los estudiantes traen para la clase de arte como material para esta; piedras que consiguen en el río cuando se abastecen de agua para luego hacer obras de arte acomodándolas unas con otras, seleccionando los colores y las figuras. Esto es muy importante porque potencializa la creatividad y ademas valoran las fuentes de agua, vitales para la vida. 
            </p>
        </div>
        <div class="general-4"></div>
    </section>

    <section class="general">
        <div class="general-5">
        </div>
            <div class="general-1">
                <h2>Árboles Nativos
                </h2>
                <p>
                    En San Isidro, los árboles nativos siempre fueron parte del paisaje, hogar de aves y animales. Hoy, muchos han desaparecido, olvidados por el tiempo y la falta de cuidado. Su pérdida recuerda la importancia de protegerlos para el equilibrio del medio ambiente y la vida que albergan.
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Raíces de un Futuro por Proteger
            </h2>
            <p>
                Los pocos árboles nativos que aún permanecen en San Isidro son un recordatorio de lo que alguna vez fue. Sus ramas sirven de refugio para las aves que aún sobreviven, mientras sus raíces cuentan historias de un pasado en el que la naturaleza y la comunidad convivían en armonía. Protegerlos es asegurar un futuro donde estas historias no se pierdan.                </p>           
            </p>
        </div>
        <div class="general-6"></div>
    </section>

    <section class="general">
        <div class="general-7">
            <video autoplay loop muted playsinline>
                <source src="images/pictures/public/newpro/ARBOLES/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
            <div class="general-1">
                <h2>Un Vínculo con el Pasado

                </h2>
                <p>
                    La preservación de los árboles nativos de San Isidro no solo beneficia al medio ambiente, sino que también fortalece la identidad cultural de la comunidad. Al cuidar estos árboles, se preservan las tradiciones y la historia de un lugar que ha vivido en armonía con su entorno. Cada árbol restante se convierte en un símbolo de resistencia, recordando a todos la importancia de proteger lo que aún es nuestro.
                </div>
    </section>
    
    <section class="general">
        <div class="general-1">
            <h2>Artesanía de la Tierra
            </h2>
            <p>
                En las comunidades de la región, los tejidos acentrales tienen un valor cultural inmenso. Utilizando materiales que provee su entorno natural, como la enea y el junco, las personas creaban piezas que no solo tenían una función práctica, sino que también eran una expresión de la conexión profunda con la naturaleza. Las esterillas y las hamacas eran esenciales en la vida diaria, y su elaboración requería habilidad, paciencia y un conocimiento transmitido de generación en generación.            </p>
        </div>
        <div class="general-8"></div>
    </section>

    <section class="general">
        <div class="general-9">
        </div>
            <div class="general-1">
                <h2>Sabiduría Ancestral en Cada Hilo
                </h2>
                <p>
                    El trabajo con la enea y el junco no era solo una técnica, sino un arte que reflejaba la sabiduría de los antepasados. Cada fibra tejida en una esterilla o hamaca estaba cargada de historias, de prácticas que habían servido para que la comunidad se adaptara al entorno. Las manos de los tejedores, al transformar estos materiales en productos cotidianos, no solo mantenían viva una tradición, sino que también fortalecían el vínculo entre los miembros de la comunidad y el territorio que habitaban.
                </div>
    </section>
    
    <section class="general">
        <div class="general-1">
            <h2>Resistencia del Tejido
            </h2>
            <p>
                Hoy, aunque las nuevas generaciones se enfrentan a un mundo cada vez más industrializado, algunas de estas técnicas de tejido aún se conservan. Las esterillas y hamacas hechas a mano no solo representan un refugio material, sino también una resistencia cultural. Al preservar estos conocimientos, la comunidad mantiene su identidad y su historia vivas, mostrando que las tradiciones del pasado siguen siendo una fuente vital de conexión y fortaleza para el futuro.
           </p>
        </div>
        <div class="general-10"></div>
    </section>

    <section class="general">
        <div class="general-11"></div>
            <div class="general-1">
                <h2>Símbolo de Resiliencia
                </h2>
                <p>
                    El bochoroco, un pequeño pero valiente ave de la región, se ha convertido en un símbolo de resiliencia. Su capacidad para adaptarse a los cambios del entorno le ha permitido sobrevivir a lo largo del tiempo, incluso frente a la transformación de su hábitat. A pesar de las dificultades, el bochoroco sigue adelante, adaptando sus costumbres y métodos para encontrar sustento en un mundo cambiante.                </div>
                </p>
                </section>

                <section class="general">
                    <div class="general-1">
                        <h2>Creatividad en su Supervivencia

                        </h2>
                        <p>
                            La creatividad del bochoroco es notable, ya que emplea recursos a su alcance para subsistir. En el campo, construye su nido con paja, utilizando lo que la naturaleza le ofrece. Sin embargo, al llegar a la ciudad, como Montería, no duda en adaptarse al entorno urbano, usando materiales como bolsas de plástico, telas viejas y vasos desechables para crear su hogar. Esta flexibilidad es un ejemplo de cómo la especie logra mantenerse en un mundo en constante cambio.
                       </p>
                    </div>
                    <div class="general-12"></div>
                </section>

                <section class="general">
                    <div class="general-13">
                        <video autoplay loop muted playsinline>
                            <source src="images/pictures/public/newpro/PAJARO/VIDEO.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                        <div class="general-1">
                            <h2>Alimentación y Adaptación al Medio
                            </h2>
                            <p>
                                La alimentación del bochoroco también refleja su capacidad de adaptación. En el campo, se alimenta de gusanos y pequeños insectos, mientras que en la ciudad cambia su dieta a los desechos alimenticios que encuentra en su entorno urbano. Esta habilidad para adaptarse a las circunstancias, buscando lo que está disponible en cada lugar, ha sido clave para la supervivencia de esta especie, demostrando cómo la adaptabilidad es esencial para enfrentar nuevos retos.   </div>
                            s</p>
                            </section>

                            <section class="general">
                                <div class="general-1">
                                    <h2>Naturaleza como Musa
                                    </h2>
                                    <p>
                                        Los jóvenes de la comunidad encuentran en los elementos naturales una fuente inagotable de inspiración para sus bodegones. Las matas de plátano, con sus grandes hojas verdes, y los corozos, con su vibrante color rojo, son los protagonistas de sus obras. Estas plantas no solo son parte esencial del paisaje local, sino que también reflejan la vida cotidiana de la comunidad, que depende de la tierra y sus frutos para sobrevivir.                                   </p>
                                </div>
                                <div class="general-14"></div>
                            </section>

 <section class="general">
 <div class="general-15"></div>
<div class="general-1">
<h2>Un Retrato del Paisaje Local</h2>
<p>
    Cada dibujo de los muchachos es un reflejo fiel de su entorno. Al plasmar en sus bodegones las matas de plátano y los corozos, los jóvenes no solo representan lo que ven, sino también lo que sienten: el esfuerzo y el amor por la tierra que los nutre. Estos bodegones capturan no solo la apariencia de las plantas, sino también la esencia de la vida rural, mostrando cómo el entorno influye en la identidad de quienes lo habitan.
</p>
 </section>

 <section class="general">
    <div class="general-1">
        <h2>La Técnica y la Creatividad
        </h2>
        <p>
            Para crear estos bodegones, los muchachos emplean diversas técnicas, pero lo más importante es su creatividad. Con herramientas simples, como lápices y pinceles, y a menudo usando materiales de fácil acceso, logran transmitir con gran detalle las texturas de las hojas y la forma de los frutos. Este arte es una prueba de que no se necesitan grandes recursos para crear algo valioso y significativo, sino simplemente una profunda conexión con lo que se está retratando.

            </p>
    </div>
    <div class="general-16"></div>
</section>

<section class="general">
    <div class="general-17">
        <video autoplay loop muted playsinline>
            <source src="images/pictures/public/newpro/BODEGON/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
   <div class="general-1">
   <h2>Un Homenaje a la Tierra</h2>
   <p>
    Estos bodegones no solo son una actividad artística, sino un homenaje a la tierra que les da vida. Cada trazo, cada sombra, está lleno de respeto por la naturaleza y de aprecio por los frutos que produce. Los muchachos, al dibujar las matas de plátano y los corozos, están haciendo un acto de memoria, preservando a través del arte las raíces de su comunidad y reafirmando el compromiso con la tierra que los nutre.
   </p>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>El Maíz como Fuente de Vida y Arte
            </h2>
            <p>
                El maíz ha sido siempre un símbolo de vida y sustento para la comunidad. Inspirados por su importancia, los niños decidieron representarlo en sus dibujos, utilizando carbón para crear detalladas mazorcas de maíz. Cada trazo capturaba la textura y forma de los granos, reflejando su conocimiento profundo sobre esta planta que no solo alimenta, sino que también es parte fundamental de su identidad cultural.
    
                </p>
        </div>
        <div class="general-18"></div>
    </section>

    <section class="general">
        <div class="general-19">
            <video autoplay loop muted playsinline>
                <source src="images/pictures/public/newpro/MAIZ/video1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
       <div class="general-1">
       <h2>Creatividad con Materiales Naturales    </h2>
       <p>
        La creatividad de los niños no se limitó al papel, ya que también hicieron lápices utilizando las tusas de maíz. Estos lápices artesanales, creados a partir de las cáscaras del maíz, demostraron su habilidad para transformar lo cotidiano en herramientas de expresión artística. De esta manera, no solo rendían homenaje al maíz como alimento, sino también como un recurso que inspira y permite la creación.
    </p>
        </section>

        <section class="general">
            <div class="general-1">
                <h2>Un Acto de Conexión con la Tierra
                </h2>
                <p>
                    Al dibujar las mazorcas y crear lápices con las tusas, los niños no solo estaban practicando una técnica, sino conectándose con la tierra que les da vida. Cada dibujo y cada lápiz hecho a mano era un recordatorio de la relación profunda entre la comunidad y el maíz, un vínculo que se ha mantenido durante generaciones y que sigue siendo esencial para su cultura y supervivencia.        
                    </p>
            </div>
            <div class="general-19v">
                <video autoplay loop muted playsinline>
                    <source src="images/pictures/public/newpro/MAIZ/video2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>

        
    


    <footer class="footer">
        <div class="footer-content container">

            <div class="link">
                <img id="log-foo" src="images/icons/logo.png" alt="">
            </div>

            <div class="link">
                <p>ENLACES</p>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./bio.html">Biografía</a></li>
                    <li><a href="#">Publicaciones</a></li>
                    <li><a href="./works.html">Trabajos</a></li>
                    <li><a href="./events.html">Eventos y Reconocimientos</a></li>
                </ul>
            </div>

            <div class="link">
                <p>REDES SOCIALES</p>
                <div class="social-container">
                    <a href="https://www.youtube.com/channel/UCKOpTtQEOgd8AgmoX-8m4_w" target="_blank">
                        <img src="images/icons/youtube.png" alt="YouTube">
                    </a>
                    <a href="https://pigmentosvegetales.blogspot.com/2018/05/el-arte-y-el-contexto-escolar-una.html" target="_blank">
                        <img src="images/icons/blogger.png" alt="Blogger">
                    </a>
                    <a href="https://x.com/IldefonsoMestra" target="_blank">
                        <img src="images/icons/x.png" alt="X">
                    </a>
                    <a href="https://web.facebook.com/profile.php?id=100005625735899&_rdc=1&_rdr" target="_blank">
                        <img src="images/icons/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/pintor_p/" target="_blank">
                        <img src="images/icons/ig.png" alt="Instagram">
                    </a>
                </div>
            </div>            

            <div class="link">
                <p>CONTACTO</p>
                <p>Ildefonsomestra@gmail.com <br> Pintor-3@hotmail.com</p>
            </div>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../Controller/button.js"></script>   

</body>
</html>
