<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_Works.css">
    <link rel="icon" href="images/icons/logo.png" type="image/x-icon">
    <title>Mi Web - Ildefonso Adán Mestra Madera</title>
</head>
<body>

    <header class="header">
        
        <div class="menu container">
            <a href="#" class="logo"><img src="images/icons/logo.png" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu">
              <img src="images/menu.png" class="menu-icon" alt="">
            </label>
            <nav class="navbar">
              <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./bio.html">Biografía</a></li>
                <li><a href="./public.html">Publicaciones</a></li>
                <li><a href="#">Trabajos</a></li>
                <li><a href="#">Eventos y Reconocimientos</a></li>
              </ul>
            </nav>
        </div>
      
        <div class="header-content container">
          <h1>TRABAJOS CON LA COMUNIDAD</h1>
          <p>El trabajo con la comunidad promueve la cooperación y el bienestar colectivo. Se desarrollan proyectos para resolver problemas locales. La colaboración activa impulsa el progreso de la comunidad.</p>
        </div>

    </header> 
    
    <div class="up">
        <button onclick="scrollToTop();"><img src="images/icons/arrow.png" alt=""></button>
    </div>

    <section class="general">
        <div class="general-1">
            <h2>TRABAJOS CON LA COMUNIDAD </h2>
            <p>
            El trabajo con la comunidad es muy importante, porque refuerza los aprendizajes de los estudiantes en la institución, siendo ella símbolo de ejemplo cultural.
            </p>
        </div>
        <div class="general-2"></div>
    </section>

    <section class="general">
        <div class="general-3">
        </div>
            <div class="general-1">
                <h2>GALLERO</h2>
                <p>
                Personaje del pueblo reconocido por su dedicación a la crianza de gallos, una actividad que ha cultivado con esmero para preservar las tradiciones locales. Su labor no solo resalta el valor de las costumbres, sino que también fomenta la unidad entre los habitantes. A través de las fiestas patronales, contribuye a fortalecer los lazos comunitarios, donde las competencias de gallos se convierten en una expresión de orgullo y cultura. Este esfuerzo incansable ayuda a mantener vivas las raíces de la identidad regional, ofreciendo un legado que une generaciones.
                </p>                
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Horticultor</h2>
            <p>
            Horticultor comprometido con la preservación del entorno natural, enfocado en la siembra y reforestación de especies nativas de la región. Su dedicación contribuye a la conservación de la biodiversidad local, promoviendo un equilibrio sostenible entre la tierra y sus recursos. A través de técnicas tradicionales y conocimientos ecológicos, trabaja para recuperar espacios degradados y fortalecer los ecosistemas autóctonos. Su labor no solo beneficia al medio ambiente, sino que también fomenta la conciencia ambiental en la comunidad, inspirando a otros a proteger y valorar la riqueza natural que nos rodea.
            </p>
        </div>
        <div class="general-4"></div>
    </section>

    <section class="general">
        <div class="general-5">
        </div>
            <div class="general-1">
                <h2>Artesano campesino</h2>
                <p>
                    Este artesano se dedica con pasión a la fabricación de vajillas utilizando totumos, un material natural y representativo de la cultura local. Su trabajo combina tradición y sostenibilidad, creando piezas únicas que reflejan la riqueza artesanal de la región. A través de técnicas heredadas por generaciones, transforma cada totumo en objetos funcionales y decorativos que destacan por su originalidad y valor cultural. Su dedicación no solo impulsa el comercio artesanal, sino que también preserva el uso de materiales ecológicos, promoviendo prácticas respetuosas con el medio ambiente y un legado de creatividad sostenible.
                </p>           
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Artesano en madera</h2>
            <p>
            Este campesino toma residuos de madera y los convierte en herramientas de cocina como: molinillos, palotes, morteros, bateas y otros utensilios de cocina.
            </p>  
        </div>
        <div class="general-6"></div>
    </section>

    <section class="general">
        <div class="general-7">
        </div>
            <div class="general-1">
                <h2>Carpintero</h2>
                <p>
                    Su trabajo consiste en la elaboración y reparación de muebles de madera, combinando creatividad y destreza manual. Se especializa en diseñar piezas funcionales y resistentes, adaptadas a las necesidades de cada cliente. Además, restaura muebles antiguos, devolviendo su encanto original y prolongando su vida útil. Su dedicación asegura acabados impecables y atención al detalle, manteniendo viva la tradición del oficio maderero. Cada creación refleja su pasión por la artesanía y el respeto por los materiales naturales, contribuyendo a la sostenibilidad del entorno.
                </p>        
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Domador de caballos</h2>
            <p>
            Este trabajo consiste en preparar a los animales de carga como: burros, caballos y mulas para que realicen su trabajo de forma eficiente.
            </p>  
        </div>
        <div class="general-8"></div>
    </section>

    <section class="general">
        <div class="general-9">
        </div>
            <div class="general-1">
                <h2>Tejedor de esteras y estirillas</h2>
                <p>
                El tejido es muy importante en la comunidad porque las esteras son los colchones de los campesinos y las esterillas se utilizan para enjalmar los animales de carga que transportan los alimentos y otros materiales para la subsistencia de las personas del campo.
                </p>         
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Artesana y líder</h2>
            <p>
                Dentro de una comunidad, el liderazgo es esencial, ya que permite reunir a las personas para trabajar en objetivos comunes. Un líder efectivo convoca a los miembros, ayudándolos a identificar problemáticas y a buscar soluciones colectivas. A través de la cooperación, se generan ideas que fortalecen la unidad y la capacidad de superación. Este proceso impulsa el desarrollo social, fomenta el compromiso y refuerza el sentido de pertenencia. El liderazgo bien ejercido guía a la comunidad hacia un progreso sostenible y solidario, enfrentando los desafíos con visión y resiliencia.
            </p>  
        </div>
        <div class="general-10"></div>
    </section>

    <section class="general">
        <div class="general-11">
        </div>
            <div class="general-1">
                <h2>Artesana de textiles</h2>
                <p>
                Reutiliza materiales de algodón para crear muñecas artesanales llenas de encanto y color. Cada pieza es confeccionada con dedicación, transformando telas reutilizadas en figuras que reflejan la tradición y creatividad local. Estas muñecas no solo embellecen los hogares, sino que también promueven la sostenibilidad al dar una segunda vida a los materiales. Su trabajo fomenta el arte del reciclaje, contribuyendo al cuidado del medio ambiente. Además, estas creaciones transmiten una expresión única de cultura y calor humano, llenando los espacios con identidad y alegría.
                </p>          
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Artesana de accesorios indígenas</h2>
            <p>
            Sus artesanías están inspiradas en las comunidades indígenas que aun subsisten en la región, elabora artesanías como: collares, aretes y pulseras de gran vistosidad; manteniendo viva la cultura indígena para las futuras generaciones.
            </p> 
        </div>
        <div class="general-12"></div>
    </section>

    <section class="general">
        <div class="general-13">
        </div>
            <div class="general-1">
                <h2>Casa ecológica</h2>
                <p>
                    Madres comunitarias están trabajando en el proyecto de una casa ecológica, diseñada para ser amigable con el medio ambiente. Utilizan materiales reciclados y buscan incorporar soluciones sostenibles que minimicen el impacto ambiental. Su objetivo es crear un espacio funcional que sirva de ejemplo para la comunidad. A través de este proyecto, buscan inspirar a otros a adoptar prácticas ecológicas en su vida diaria. La casa no solo será un hogar, sino un símbolo de conciencia ambiental y colaboración. Con este esfuerzo, desean fomentar un cambio positivo en la región.
                </p>         
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Líder juvenil de la comunidad</h2>
            <p>
            Este joven es un ejemplo de superación para los chicos de la comunidad, él estudia en la universidad de Córdoba, rompiendo con el paradigma de que los jóvenes de la región no podían formarse en la universidad.
            </p>  
        </div>
        <div class="general-14"></div>
    </section>

    <section class="general">
        <div class="general-15">
        </div>
            <div class="general-1">
                <h2>Tejedor de hamacas</h2>
                <p>
                Su trabajo consiste en elaborar chinchorras utilizadas por las personas para descansar y refrescarse después de un largo día de trabajo.
                </p>         
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Líder religiosa</h2>
            <p>
                Ella juega un papel crucial en fortalecer la espiritualidad de los habitantes de la comunidad. A través de su guía y apoyo, ayuda a las personas a conectar con su fe y valores internos. Sus enseñanzas fomentan la reflexión y la paz interior, creando un espacio donde todos pueden crecer espiritualmente. Además, organiza actividades que unen a la comunidad en torno a creencias comunes, fortaleciendo los lazos de solidaridad. Su presencia inspira a los miembros a buscar equilibrio y propósito en sus vidas. De esta forma, contribuye al bienestar colectivo, promoviendo la armonía en el entorno.
            </p>  
        </div>
        <div class="general-16"></div>
    </section>

    <section class="general">
        <div class="general-17">
        </div>
            <div class="general-1">
                <h2>Memoria cultural de la región</h2>
                <p>
                Por ser una de las personas con mayor edad, se convierte en un ejemplo de vida para los habitantes de esta región; ya que conoce todos los hechos que se han dado en las ultimas décadas dentro de la comunidad. 
                </p>          
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Imágenes religiosas</h2>
            <p>
            Estas imágenes son muy importantes para la comunidad ya que fueron traídas para la evangelización de América latina y hoy son utilizadas en altares para velorios cuando fallece algún miembro de la comunidad.
            </p> 
        </div>
        <div class="general-18"></div>
    </section>

    <section class="general">
        <div class="general-19">
        </div>
            <div class="general-1">
                <h2>​Historiador de la comunidad</h2>
                <p>
                    Conserva escritos que relatan cómo se formó la comunidad, incluyendo la llegada de las primeras familias que fundaron el lugar. Estos documentos detallan la construcción de las primeras casas y los primeros cultivos que se sembraron en la región. También incluyen relatos sobre las primeras fiestas patronales, que fueron clave para la unión del pueblo. A través de estos escritos se preserva la historia de su forma de vida y las costumbres que marcaron su desarrollo. Son recuerdos de los desafíos y logros de quienes comenzaron la comunidad. Esta información es valiosa para mantener viva la identidad local.
                </p>          
            </div>
    </section>

    <section class="general">
        <div class="general-1">
            <h2>Templo</h2>
            <p>
            Es un lugar donde la comunidad se reúne para acontecimientos especiales como: las fiestas patronales, matrimonios, bautismos, primera comunión, oraciones; y también en momentos de dolor como la muerte de algún mimbro de la comunidad.
            </p> 
        </div>
        <div class="general-20"></div>
    </section>

    <section class="blog container" style="display: none;">
        <h2>Blog</h2>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsum delectus earum fugiat at 
        vel voluptatibus explicabo    
        </p>
        <div class="blog-content">
            <div class="blog-1">
                <img src="View/images/blog1.jpg" alt="">
                <h3>Blog One</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </p>
            </div>

            <div class="blog-1">
                <img src="View/images/blog2.jpg" alt="">
                <h3>Blog Two</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </p>
            </div>

            <div class="blog-1">
                <img src="View/images/blog3.jpg" alt="">
                <h3>Blog Three</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </p>
            </div>

        </div>
        <a href="#" class="btn-1">Information</a>
    </section>

    <footer class="footer">
        <div class="footer-content container">

            <div class="link">
                <img id="log-foo" src="images/icons/logo.png" alt="">
            </div>

            <div class="link">
                <p>ENLACES</p>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./bio.html">Biografía</a></li>
                    <li><a href="./public.html">Publicaciones</a></li>
                    <li><a href="#">Trabajos</a></li>
                    <li><a href="#">Eventos y Reconocimientos</a></li>
                  </ul>
            </div>

            <div class="link">
                <p>REDES SOCIALES</p>
                <div class="social-container">
                    <a href="https://www.youtube.com/channel/UCKOpTtQEOgd8AgmoX-8m4_w" target="_blank">
                        <img src="images/icons/youtube.png" alt="YouTube">
                    </a>
                    <a href="https://pigmentosvegetales.blogspot.com/2018/05/el-arte-y-el-contexto-escolar-una.html" target="_blank">
                        <img src="images/icons/blogger.png" alt="Blogger">
                    </a>
                    <a href="https://x.com/IldefonsoMestra" target="_blank">
                        <img src="images/icons/x.png" alt="X">
                    </a>
                    <a href="https://web.facebook.com/profile.php?id=100005625735899&_rdc=1&_rdr" target="_blank">
                        <img src="images/icons/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/pintor_p/" target="_blank">
                        <img src="images/icons/ig.png" alt="Instagram">
                    </a>
                </div>
            </div>            

            <div class="link">
                <p>CONTACTO</p>
                <p>Ildefonsomestra@gmail.com <br> Pintor-3@hotmail.com</p>
            </div>
            
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../Controller/button.js"></script>   

</body>
</html>